.mainStyle {
  max-width: 100%;
  height: 100%;
  position: relative;
}
.mapStyle {
  width: 100%;
  height: 100%;
}
.popupMain {
  display: flex;
  width: 276px;
  max-width: 276px !important;
  height: 200px;
  content: '';
  position: absolute;
  top: 32%;
  left: 57%;
  transform: translateX(-50%) !important;
}
.popupTitle {
  background-color: #2563eb;
  font-weight: 700;
  font-size: medium;
  color: ivory;
  padding: 10px;
}
.popupInfo {
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
}
.popupLabel {
  font-weight: bold;
}
.popupWebUrl {
  color: #2563eb;
}
.popupWebUrl:active,
.popupWebUrl:focus {
  outline: 0;
}

.marker {
  display: flex;
  width: 24px;
  height: 24px;
  content: '';
  background: url('../../../public/location.png') center / contain no-repeat;
}

.mapboxgl-popup-close-button {
  background: #000 !important;
}
